<!doctype html>
<html lang="en" ng-app="dogpark">
<head>
	<meta charset="UTF-8">
	<title>The Dogpark</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

</head>
<body ng-controller="MainCtl">
	<div class="jumbotron">
		<button class="btn btn-primary pull-right" ng-click="add()">
			<i class="fa fa-plus"></i> Let new dog enter the Park
		</button>
		<h1>Dogpark</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 well">
				<h3>Dogs</h3>
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="d in dogs" ng-class="{active: selected.name == d.name}">
						<a href="" ng-click="get(d)">{{d.name}}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-5" ng-show="selected">
				<h2>{{selected.name}}</h2>
				<dl class="dl-horizontal">
					<dt>Owner:</dt>
					<dd>{{selected.owner}}</dd>
				</dl>
			</div>
			<div class="col-sm-4" ng-show="selected">
				<button class="btn btn-primary form-control" ng-click="update(selected)">
					<i class="fa fa-pencil"></i> Update this dog 
				</button>
				<button class="btn btn-danger form-control" ng-click="remove(selected)">
					<i class="fa fa-trash-o"></i> Send dog home
				</button>
			</div>
		</div>
	</div>
<script src="angular.js"></script>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<script>
	var dogpark = new angular.module("dogpark", ["ngResource"]);

	dogpark.controller("MainCtl", ["$scope", "$resource",
		function($scope, $resource) {
			var Dog = $resource("/dogs/:id", {
				id: "@id"
			}, {});
	
			$scope.selected = null;
			$scope.dogs = Dog.query();
	
	
			$scope.get = function(dog) {
				Dog.get({
					id: dog.id
				}, function(data) {
					$scope.selected = data;
				})
			};
	
			$scope.remove = function(dog) {
				$scope.selected.$delete(function() {
					$scope.dogs = Dog.query();
				});
	
			};
	
			$scope.add = function() {
				var name = prompt("Enter dog name.")
				if (name == null) {
					return;
				}
				var owner = prompt("Enter dog owner.")
				if (owner == null) {
					return;
				}
	
				var dog = new Dog();
				dog.name = name;
				dog.owner = owner;
				dog.$save(function() {
					$scope.dogs = Dog.query();
				})
			}
	
			$scope.update = function(dog) {
	
				var name = prompt("Enter dog name.", dog.name)
				if (name == null) {
					return;
				}
				var owner = prompt("Enter dog owner.", dog.owner)
				if (owner == null) {
					return;
				}
				
				dog.name = name;
				dog.owner = owner;
				
				dog.$save(function() {
					$scope.dogs = Dog.query();
				})
	
			}
	
		}
	]);
</script>
</body>
</html>